.App {
    text-align: center;
}

.content {
    text-align: start;
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: space-between;
}

.listItem {
    padding: 5px 10px 20px 10px;
    background-color: #ececec;

}

.listItem:nth-child(2n) {
    background-color: #d2d2d2;
}